.col-right .content{
    width: 880px;
    margin-bottom:100px;
}
.col-right .content .article-detail{
    background-color: #fff;
    padding:20px 25px 25px 25px;
    position: relative;
}
.article-detail .article-header{
    padding-bottom: 10px;
    border-bottom:1px dashed #eee;
}
.article-detail .article-header .author-avatar{
    float:left;
    margin-right:10px;
    height: 50px;
    width: 50px;
    overflow: hidden;
}
.article-detail .article-header .article-info{
    float:left;
}

.article-detail .article-header .article-info .title{
    display: block;
    font-size:18px;
    font-weight: bold;

    /*border:1px dashed #eee;*/
    margin-bottom:8px;

}
.article-detail .article-header .article-info span{
    color:#999;
}
.article-detail .article-header .article-info span a{
    color:#999;
}
.article-info .author-name{
    margin-right:10px;
}
.article-info .send-time{
    margin-left:10px;
}

.article-detail .article-content{
    padding-top:30px;
    padding-bottom: 30px;
    width: 715px;
}
.article-detail .article-tags{
    /*padding-left: 20px;*/
}
.article-detail .article-tags label{
    font-size:14px;
    color:#888;
    margin-right:5px;
}
.article-detail .article-tags ul li{
    float:left;
}
.article-detail .article-tags ul li a{
    font-size:14px;
}
.article-footer{
    background-color: #efefef;
    padding: 16px 15px;
    margin-bottom: 30px;
}

.article-footer a{
    font-size:14px;
    margin:0px 10px;
    color:#333;
}
.article-footer i{
    font-size:14px;
    margin:0px 3px;
    color:#333;
}
/*����������*/
.comment-panel{
    width: 880px;
}
.comment-panel .panel-header{
    width: 880px;
    padding:10px 0px;
    border-bottom: 1px dotted #888;
}
.comment-panel .label-head{
    font-size:12px;
    color: #aaa;

}
.comment-panel .comment-num{
    font-size:12px;
    color: #ff5f3e;
}
.comment-panel .comments{
    margin-bottom: 30px;
}
.comments .comment{
    width:880px;
    padding:15px 5px;
    border-bottom: 1px dotted #888;
}
.comments .comment-p1{
    width:870px;

}
.comment-p1 .comment-info{
    width: 820px;
}
.comment-p2 .comment-info{
    width: 785px;
}
.comments .comment-p2{
    width:835px;
    padding-left: 40px;
}
.comments .comment:hover{
    background-color: #fffaee;
}
 .commentor-avatar{
    float:left;
    margin-right:10px;
    /*padding-top: 2px;*/
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.commentor-avatar img{
    width: 30px;
    height: 30px;
}
.comment .comment-info{
    float:left;
}

.comment .comment-info .first-line{
    margin-bottom: 1px;
}
.comment .comment-info .first-line .comment-content{
    margin-right: 15px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    color:#666;
}
.comment .comment-info .first-line .commentor-name{
    font-size:10px;
    color: #ff5f3e;
}
.comment .comment-info .first-line .commentor-p1-name{
    font-size:10px;
    color: #ff5f3e;
}
.comment:hover .comment-info .first-line .reply{
    display: inline;

}
.comment .comment-info .first-line .reply{
    font-size:10px;
    color: #ff5f3e;
    display: none;
}
.comment .comment-info .first-line .cancel{
    font-size:10px;
    color: #ff5f3e;
    display: none;
}
.comment .comment-info .comment-time{
    font-size:10px;
    color: #bebebe;
}
.comment-input{
    padding-left: 5px;
}
.child-comment-input{
    margin-top:20px;
    padding-left: 0px;
}
.comment-input input{
    width: 250px;
    height: 25px;
    padding-left: 5px;
}
.child-comment-input input{
    display: block;
    width: 250px;
    height: 25px;
    padding-left: 5px;
    margin-bottom:10px;
    margin-left: 40px;
}
.comment-input .input-nickname{
    margin-right: 25px;

}
.comment-input .input-email{
    margin-right: 25px;

}
.comment-input .input-site{
    margin-right: 0px;

}
.comment-input .input-comment-content{
    height: 100px;
    width: 825px;
    margin-top: 10px;
    margin-left: 40px;
    padding-left: 5px;
    padding-top: 5px;
}
.child-comment-input-p2 .input-comment-content{
    width: 785px;

}
.comment-input a{
    display: block;
    width: 60px;
    height: 24px;
    margin-top: 13px;
    margin-left: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: white;
    background-color: #ff9079;
    transition: .3s;
    -webkit-transition: .3s;
}
.comment-input a:hover{
    background-color: #ff5f3e;
}
